<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<%
if (session[:user_id] == nil) %>
  
<% else %>
<ul>
  <li>Üdv, <%=h print_logged_in_user_email %></li>

  <% if admin_logged_in? %>
  <li id="admin-menu-photographers"><span class="ui-icon ui-icon-person fl">&nbsp;</span><%= link_to 'Fotosok', admin_photographers_path %></li>
  <li id="admin-menu-photos"><span class="ui-icon ui-icon-image fl">&nbsp;</span><%= link_to 'Uj kepek', admin_tag_path %></li>
  <li id="admin-menu-photos"><span class="ui-icon ui-icon-image fl">&nbsp;</span><%= link_to 'Minden kep', admin_photos_path %></li>
  <li id="admin-menu-events"><span class="ui-icon ui-icon-flag fl">&nbsp;</span><%= link_to 'Esemenyek', admin_events_path %></li>
  <% end %>

  <li id="personal-menu-upload"><span class="ui-icon ui-icon-circle-arrow-n fl">&nbsp;</span><%= link_to 'Feltöltés', upload_path %></li>
  <li id="personal-menu-details"><span class="ui-icon ui-icon-gear fl">&nbsp;</span><%= link_to 'Adatok ', edit_photographer_path(:id=>session[:user_id]) %></li>
  <li id="personal-menu-logout"><span class="ui-icon ui-icon-power fl">&nbsp;</span><%= link_to 'Kilépés', logout_path %></li>
</ul>
<% end %>


