<h1>Editing photographer</h1>

<% form_for(@photographer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :contact %><br />
    <%= f.text_area :contact %>
  </p>
  <p>
    <%= f.label :is_approved %><br />
    <%= f.check_box :is_approved %>
  </p>
  <p>
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </p>
  <p>
    <%= f.label :is_public %><br />
    <%= f.check_box :is_public %>
  </p>
  <p>
    <%= f.label :avatar %><br />
    <%= f.text_field :avatar %>
  </p>
  <p>
    <%= f.label :paypal_address %><br />
    <%= f.text_field :paypal_address %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @photographer %> |
<%= link_to 'Back', admin_photographers_path %>