<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<% content_for :head do %>
  <%= stylesheet_link_tag "events"  %>
  <title>
    <%=h @event.title %>, <%=h @event.location %> <%=h @event.event_start.year %> képek
  </title>

    <% if @event.spots.size > 0 %>
    <script src="http://maps.google.com/maps?file=api&v=2&sensor=false&key=<%=  $app_config['maps_api_key'] %>"
            type="text/javascript"></script>
    <script type="text/javascript">

    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng(<%= @event.spots[0].gps_lat %> , <%= @event.spots[0].gps_long %>), 13);
        map.setUIToDefault();
        map.setMapType(G_HYBRID_MAP);
        var baseIcon = new GIcon(G_DEFAULT_ICON);
        baseIcon.shadow = "http://www.google.com/mapfiles/shadow50.png";
        baseIcon.iconSize = new GSize(20, 34);
        baseIcon.shadowSize = new GSize(37, 34);
        baseIcon.iconAnchor = new GPoint(9, 34);
        baseIcon.infoWindowAnchor = new GPoint(9, 2);

        // Creates a marker whose info window displays the letter corresponding
        // to the given index.
        function createMarker(point, title) {

          // Set up our GMarkerOptions object
          markerOptions = { icon: baseIcon };
          var marker = new GMarker(point, markerOptions);

          GEvent.addListener(marker, "click", function() {
            marker.openInfoWindowHtml( title );
            //set timeline
            //set title
            $('#spot-title').html(title);
            $('#form_spot_title').attr("value",title);
          });
          return marker;
        }


        var spots = [
          <% @event.spots.each do |spot| %>
           {'gps_lat': <%= spot.gps_lat %>,
            'gps_long': <%= spot.gps_long %>,
            'title': '<%= spot.name %>'}
            <%="," unless spot == @event.spots.last %>
          <% end %>
          ];

        for (i in spots) {
          var spot = spots[i];
          var latlng = new GLatLng( spot.gps_lat , spot.gps_long);
          map.addOverlay(createMarker(latlng, spot.title ));
        }

      }
    }
    </script>
    <% end %>

<% end %>

<div id="event-summary">
  <div class="event">
    <p class="event-title"><%=h @event.title %>, <%=h @event.location %></p>
    <p class="event-start"><%=h @event.event_start.strftime("%Y. %m. %d.") %></p>
    <iframe src="http://www.facebook.com/plugins/like.php?href=<%= event_photos_url(@event) %>&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"> </iframe>
  </div>
</div>

<div id="search-tabs">
  <ul>
    <li><a href="#search">Rajtszám szerinti keresés</a></li>
    <li><a href="#timeline">Időpont és helyszín szerinti keresés</a></li>
  </ul>
  <div id="search">
    <% form_tag(event_photos_path(@event), :method => "get" ) do %>
      <input type="text" id="searchbar" name="search" value="Rajtszámod" onclick="if (this.value=='Rajtszámod') { this.value=''; return false }"/>
      <button id="searchbutton">Keres</button>
    <% end %>
  </div>
  <div id="timeline">
    <% form_tag(event_photos_path(@event), :method=>"get") do %>
    <input type="hidden" name="spot_title" id="form_spot_title" value="<%=params[:spot_title]%>" />
    <input type="hidden" name="from_time" id="form_time_from" value="<%= params[:from_time]%>"/>
    <input type="hidden" name="to_time" id="form_time_to" value="<%= params[:to_time]%> " />
    <p>
      Válassz helyszínt:<br/>
    </p>
    <p>
    <div id="map" style="width: 100%; height: 300px;border: 1px solid black; margin-bottom: 15px;">
      <% if @event.spots.size > 0 %>
      <script type="text/javascript" >
      initialize();
      </script>
      <% else %>
      <p>Még nincsenek helyszínek ezen az eseményen.</p>
      <% end %>
    </div>
    </p>
    <p>
      Szűkíts időpontot:<br/>
      <div id="time-slider"></div>
      <span class="fl"><%=@min_time.hour%>:<%=@min_time.min%></span>
      <span class="fr"><%=@max_time.hour%>:<%=@max_time.min%></span>
      <br style="clear: both;"/>
    </p>
    <p style="margin-top: 5px;">
      <strong>
        Keresem a <span id="spot-title"><%=params[:spot_title]%></span> helyen <span id="time-from"></span> és <span id="time-to"></span> között készült képeket.
      </strong>
      <button id="go">Mehet</button>
    </p>
    <% end %>
      <script type="text/javascript">
        initTimeSlider('<%=@min_time%>','<%=@max_time%>',<%= @from_time %> ,<%= @to_time %>);
      </script>

  </div>

</div>

<div id="photos">
  <% @photos.each do |photo| %>
  <div id="photo-<%=h photo.id %>"class="photo <%=cycle('left','middle','right')%>">
    <div class="image">
      <% if photo.exif != nil %>
        <div id="photo-<%=h photo.id %>-data" class="data" style="display: none;">
          <% if photo.photographer.is_public %>
            <p>Fotós: <%= photo.photographer.firstname %>, <%= photo.photographer.lastname %></p>
          <% end %>
          <p>Model: <%=h photo.exif.model %> </p>
          <p><%=h photo.exif.width %>x<%=h photo.exif.height %></p>
          <p><%=h photo.exif.date_time %></p>
          <p>Shutter: <%=h photo.exif.exposure_time %></p>
          <p>F <%=h photo.exif.f_number %></p>
        </div>
      <% end %>
      <%= image_tag "photos/#{photo.event_id}/#{photo.fingerprint}.jpg",
                    :id => "photo-#{photo.id}-image",
                    :onclick => "openPhotoDialog('#{cart_path}/add/#{photo.id}',#{photo.id});"
      %>
    </div>
    <div class="fl">      
      <p><strong><%= photo.startnumber %></strong>
      <% if photo.exif != nil %>
        <%=h photo.exif.width %>x<%=h photo.exif.height %></p>
        <button class="detail" onclick="javascript: jqshowDetails(<%=h photo.id %>);">Részletek</button>
      <% else %>
          </p>
      <% end %>
    </div>
    <div class="fr">
      <p><strong><%=h photo.price %> HUF</strong></p>
        <p>
          <button class="basket" onclick="javascript: putToCart('<%= cart_path %>/add/<%= photo.id %>',<%=h photo.id %>);">Kosárba</button>
        </p>
    </div>
  </div>
  <div id="photo-dialog-<%= photo.id %>" style="display: none;" title="Részletek">
    <div class="fl">
      <% if photo.exif != nil %>
        <div style="text-align: left; width: 250px;">
          <p>
            <strong>
              Ez a méret csak egy minta. A fotót megvásárolhatod poszter méretben (<%=h photo.exif.width %>x<%=h photo.exif.height %> pixel).
            </strong><br/>
            További információk a képről:
          </p>
          <% if photo.photographer.is_public %>
            <p>Fotós: <%= photo.photographer.firstname %>, <%= photo.photographer.lastname %></p>
          <% end %>
          <p>Model: <%=h photo.exif.model %> </p>
          <p><%=h photo.exif.width %>x<%=h photo.exif.height %></p>
          <p><%=h photo.exif.date_time %></p>
          <p>Shutter: <%=h photo.exif.exposure_time %></p>
          <p>F <%=h photo.exif.f_number %></p>
          <% if photo.price==0 %>
          <p>Ezt a képet máris <strong><a href="/photos/download/<%=photo.id%>">letöltheted</a></strong></p>
          <% end %>
          <% if photo.spot != nil %>
          <p>Helyszín: <%=photo.spot.name%> - <strong><%= link_to "térkép", "#{photos_url}/show/#{photo.id}" %></strong></p>
          <% end %>
        </div>
      <% end %>

    </div>
    <div class="fr">
      <%= image_tag "photos/#{photo.event_id}/#{photo.fingerprint}.jpg", :id => "photo-#{photo.id}-image" %>
    </div>
    <div style="clear: both;">
      <iframe src="http://www.facebook.com/plugins/like.php?href=<%= photos_url %>/show/<%=photo.id%>&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"> </iframe>
    </div>
  </div>
  <% end %>
</div>

<div id="pager">
  <span><%
    if @current_page > 1
    %>
        <%
        urlparams = params;
        urlparams["page"]=@current_page-1;
        %><%=link_to "Előző oldal", event_photos_path(@event, :params=>urlparams) %><%
    else
    %>&nbsp;<%
    end
  %></span>
  <span style="text-align: center;"><%=h @current_page %> / <%=h @max_page %></span>
  <span style="text-align: right;"><%
    if @current_page < @max_page
    %>
      <%
      urlparams = params;
      urlparams["page"]=@current_page+1;
      %><%=link_to "Következő oldal", event_photos_path(@event, :params=>urlparams) %><%
    end
  %></span>
</div>